div.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 85%;
    margin: 0 auto;

    > * {
        /*border: 1px solid red;*/
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        font-size: 18px;

        aside {

        }

        nav {
            display: flex;
            gap: 1rem;
            font-family: sans-serif;

            a {
                /*border: 0.5px solid red;*/
                color: black;
                text-decoration: none;

                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.2s ease-in-out;
                    color: #89CFF0;


                }
            }
        }
    }

    section.pill-bar {
        background-color: black;
        height: 3px;
        border-radius: 3px;
    }

    article.homepage {
        height: 75vh;
        display: flex;
        gap: 1rem;

        div {
            background-color: white;
            height: 100%;
            /*min-height: 100%;*/
            flex-basis: 25%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow: auto;
            justify-content: space-between;

            img {
                /*min-height: 30px;*/
                width: 100%;
            }
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        font-family: sans-serif;
        align-items: center;

        img.logo {
            width: 50px;
        }

    }
}